<p>
  createrecipes works!
</p>
<div class="container">
  <div [hidden]="submitted">
    <h1>Create your recipe</h1>
    <form class="formwidth" (ngSubmit)="onSubmit()" #recipeForm="ngForm">
      <table>
        <tr>
          <td>
            <div class="example-container">
              <mat-form-field class="formwidth">
                <input matInput placeholder="Recipe Name" id="name" ngModel name="name">
              </mat-form-field>
            </div>
          </td>
          <td>
            <div class="example-container">
              <mat-form-field class="formwidth">
                <input matInput placeholder="Cuisine" id="cuisine" ngModel name="cuisine">
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="example-container">
              <mat-form-field class="formwidth">
                <input matInput placeholder="Preperation Time" id="prep_time" ngModel name="prep_time">
              </mat-form-field>
            </div>
          </td>
          <td>
            <div class="example-container">
              <mat-form-field class="formwidth">
                <input matInput placeholder="cook_time" id="cook_time" ngModel name="cook_time">
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="example-container">
              <mat-form-field class="formwidth">
                <input matInput placeholder="calories" id="calories" ngModel name="calories">
              </mat-form-field>
            </div>
          </td>
          <td>
            <mat-form-field class="formwidth">
              <input matInput placeholder="author" id="author" ngModel name="author">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="formwidth">
              <input matInput placeholder="ingredient" id="ingredient" ngModel name="ingredient">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <textarea matInput id="prep_instructions" name="prep_instructions" placeholder="Procedure" ngModel>
          </td>
        </tr> -->
        <tr>
          <td>
            <button type="submit" md-raised-button>Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  </div>